h1 Query

h1 Number of terms = {{numberOfTerms}} (Limit 400)

h1(ng-show="editMode") Unsaved 
button.btn.btn-success(ng-show="editMode", ng-click="submitQuery()") Save Query
button.btn.btn-success(ng-hide="editMode", ng-click="restartStream()") Restart Stream 

br
br
br
br
br



table.table
	thead
		tr
			th Query Terms
			th
	tbody
		button.btn.btn-success(ng-hide="addingTerm", ng-click="addTerm()") Add Term
		tr(ng-repeat="term in queryTerms")
			td(ng-hide="term.string_edit", ng-click="editTerm(term)") {{term.string}}
			td(ng-show="term.string_edit || term.string_adding")
				input(type='text', ng-model='term.string', placeholder='term string')

			td 
				button.btn.btn-danger(ng-click="deleteTerm(term)") DELETE

