/*
Mashwork - StreamController
*/
/* __________________________ IMPORTS ___________________________ */
/* __________________________ STYLE ___________________________ */
body {
  background-color: gainsboro; }

h1 {
  margin-bottom: 20px; }

h2, h3 {
  font-weight: 500; }

th {
  text-transform: uppercase; }

.content {
  margin-top: 80px; }

.app-container {
  background-color: white;
  padding: 40px;
  padding-top: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  width: 90%; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  margin-bottom: 0; }

.value-cell {
  width: 85%;
  word-break: break-all; }

.newQuery td {
  background-color: rgba(48, 188, 174, 0.15); }

.term-cell {
  width: 40%;
  word-break: break-all; }

.selected-query-terms {
  word-break: break-all; }
