/*
Mashwork - StreamController
*/

/* __________________________ IMPORTS ___________________________ */

@import "bourbon";
@import "variables";

/* __________________________ STYLE ___________________________ */

body {
	background-color: $grayLight;
}

h1 {
	margin-bottom: 20px;
}

h2, h3 {
	font-weight: 500;
}

th {
	text-transform: uppercase;
}

.content {
	margin-top: 80px;
}

.app-container {
	background-color: $white;
	padding: 40px;
	padding-top: 20px;
	@include shadowed;
	width: 90%;
}

textarea, 
#{$all-text-inputs} {
	margin-bottom: 0;
}

.value-cell {
	width: 85%;
	word-break: break-all;
}

.newQuery {
	td {
		background-color: transparentize($teal,.85);
	}
}

.term-cell {
	width: 40%;
	word-break: break-all;
}