h1 Query

h2 Current Settings
table.table
	thead
		tr
			th Key
			th Value
	tbody
		tr(ng-repeat="settingsDataPair in settingsDataPairs")
			td {{settingsDataPair[0]}}
			td {{settingsDataPair[1]}}

br
br

h1 Track Configurations
table.table
	thead
		tr
			th id
			th created at
			th terms
	tbody
		button.btn.btn-success(ng-hide="addQuery", ng-click="addQuery()") Add Query
		tr(ng-repeat="query in queries")
			td 
				a(href='/queries/{{query._id}}') {{query._id}}
			td {{query.createdAt}}
			td {{query.terms.join(",")}}